{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "semantic-release-docker",
      {
        "name": "playerdata/failed-pod-controller",
        "registryUrl": "docker.io"
      }
    ]
  ]
}
